steps:
  - uses: actions/checkout@v3

  - name: Install Rust stable toolchain
    uses: actions-rs/toolchain@v1
    with:
      toolchain: stable
      override: true

  - name: Build
    run: cargo build --verbose
